doctype html

html(lang="en")
  head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

  title Dashboard
  link(rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css")
  link(rel="stylesheet" type="text/css" href="/css/common.css")

  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  script(src="/semantic/dist/semantic.min.js")
  script(src="/js/common.js")

  body
    include head.pug

    .ui.main.container
      .ui.grid
        .column.left.aligned
          form.ui.form(method='post')
            .ui.segment
              .field
                .ui.input
                  input(type="text" name="title" placeholder="Title" required="")
              button.ui.medium.blue.submit.button(type="submit") Save
              a.ui.medium.red.cancel.button(href=`/view/${parent}`) Cancel

    include foot.pug