.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.center.aligned.grid
      .six.wide.left.aligned.column
        | Concreet&trade;
      .six.wide.right.aligned.column
        | All Rights Reserved 2018.