.ui.menu
  .ui.container
    a.header.item(href='/')
      img.image(src="/assets/images/concreet-logo.png")
      p.logo-text oncreet

  .ui.right
    .item
      a.ui.blue.button(href='/logout') Logout
